VITE_DISCORD_SPEAKER_WEBHOOK=
VITE_DISCORD_SPONSOR_WEBHOOK=
VITE_API_URL=https://app-me97.onrender.com

PORT=8787
FRONTEND_URL=https://tedxichbcolentina.xyz
ALLOWED_ORIGINS=https://tedxichbcoletina.xyz,https://www.tedxichbcoletina.xyz,https://tedxichbcolentina.xyz,https://www.tedxichbcolentina.xyz
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_GA=
STRIPE_PRICE_VIP=
STRIPE_PRICE_UPGRADE=

