VITE_DISCORD_SPEAKER_WEBHOOK=
VITE_DISCORD_SPONSOR_WEBHOOK=
VITE_API_URL=http://localhost:8787

PORT=8787
FRONTEND_URL=http://localhost:5173
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_GA=
STRIPE_PRICE_VIP=
STRIPE_PRICE_UPGRADE=
